<main>
<div class="body">
  <div class="big-img">
    <img class="big-img" src="/img/villars.jpg">
  </div>
      <div class="splash-middle-container">
        <div class="tagline">
          <h1>First Chair</h1>
          <h6>How early do you have to leave?</h6>
        </div>
        <button type="button" name="Login" ng-click=login()>Log in</button>
    </div>
  </div>
<footer>
  <p>
    How many times have you hit the road just 15 minutes too late
    and arrived at the mountain 45 minutes later than you wanted?
    At the crack of dawn on a powder day those minutes are too precious
    to guess with.  That's why First Chair will track the impact of snow
    at your favorite resorts has on the traffic to get there.  Because
    all the good stuff will be gone by noon...
  </p>
</footer>
</main>
