<div class="splash-container">
  <div class="splash-outside-container">
    <img src="img/home.svg" alt="home" />
  </div>
  <div class="splash-middle-container">
    <div class="tagline">
      <h1>First Chair</h1>
      <h6>How early do you have to leave?</h6>
    </div>
      <button type="button" name="Login" ng-click=login()>Log in</button>
      <button type="button" name="Goin" ui-sref='dashboard'>Go in</button>
      <div class="car-icon">
        <img src="img/transport.svg" alt="car" width="40%" height="40%"/>
      </div>
      <div class="arrow-icon">

      </div>
  </div>
  <div class="splash-outside-container">
    <img src="img/mountains.svg" alt="mountain" />
  </div>
</div>
