<div class="page-wrapper">
  <section class="sidebar-container">
    <div class="sidebar">
      <div class="title-block">
        <h3 ui-sref='dashboard'>First Chair</h3>
      </div>
      <nav>
        <h4>Routes</h4>
        <ul>
          <li ng-repeat='destination in dashData' ui-sref='route({id: $index})'>
            {{destination.city}}</li>
        </ul>
        <h4 ui-sref='addroute'>Add Route</h4>
        <h4 ui-sref='settings'>Settings</h4>
        <h4 ui-sref='landing'>Logout</h4>
      </nav>
    </div>
  </section>
  <section class='route-container'>
    <h3 class="route-title">{{thisRoute.city}}</h3>
    <div class="snow-summary">
      <div class="yesterday">
        <h4>Today's Forecast</h4>
        <h5>{{thisRoute.forecast.in}}"</h5>
      </div>
      <div class="tomorrow">
        <h4>Estimated Delay Tomorrow</h4>
        <h5>{{delay | number: 0}} min</h5>
      </div>
    </div>

    <div class="graph"></div>
    <div class="map-wrapper">
    <h5 ng-hide='showmap' ng-click='showmap = !showmap'>Show Current Directions</h5>
    <h5 ng-show='showmap' ng-click='showmap = !showmap'>Hide Directions</h5>
    <iframe ng-show='showmap' width="600" height="450" frameborder="0" style="border:0"
    ng-src='{{trustSrc(directionstring)}}'
    allowfullscreen></iframe>
    </div>

  </section>
</div>
