<div class="page-wrapper">
  <section class="sidebar-container">
    <div class="title-block">
      <h3 ui-sref='dashboard'>First Chair</h3>
    </div>
    <nav>
      <h4>Routes</h4>
      <ul>
        <li ui-sref='route' ng-repeat='destination in dashData'>{{destination.city}}</li>
      </ul>
      <h4 ui-sref='addroute'>Add Route</h4>
      <h4 ui-sref='settings'>Settings</h4>
      <h4 ui-sref='landing'>Logout</h4>
    </nav>
  </section>
  <section class='settings-container'>
    <h3>Settings</h3>
    <form class="change-settings-form" ng-submit=''>
      <div class="alarm-container">
        <div class="input-row">
          <label for="alarm">Snowfall Alarm</label>
          <input type="text" ng-model='alarm' name="alarm" value="$scope.alarm">
          <div ng-hide='confirm' class="hidden"></div>
          <img src="../img/checkmark.svg" alt="" width="50" height="50" ng-show='confirm'/>
        </div>
      </div>
      <button type="submit" name="add" ng-click='setAlarm(alarm)'>Set</button>
    </form>
  </section>
</div>
