.page-wrapper {
  display: flex;
  flex-direction: column;
  background-color: gray;
  padding-bottom: 200px;
  font-family: 'Sansita One', cursive;
}

.sidebar-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 20%;
  margin: 5vh 0 0 5vw;
}
.title-block {
  display: flex;
  // flex-direction: column;
  align-content: center;
  // justify-content: space-around;
  align-items: center;
  height: 150px;
  width: 130%;
  color: white;
  border: 2px solid white;
  background-color: steelblue;
  h3 {
    margin: 23px auto 0 auto;
    font-size: 3em;
  }
  h3:hover {
    cursor: pointer;
  }
}
nav {
  display: flex;
  flex-direction: column;
  border: 2px solid white;
  background-color: steelblue;
  color: white;
  align-items: flex-start;
  padding: 0 10px 0 20px;
  width: 80%;
  h4 {
    padding: 10% 10px;
    font-size: 1.8em;
  }
  h4:first-child {
    padding: 20% 10px 7% 10px;
  }
  h4:last-child {
    padding: 10% 10px 20% 10px;
  }
  h4:hover {
    cursor: pointer;
  }
  ul {
    list-style: none;
    margin: 0;
    padding:0;
  }
  li {
    font-size: 1.5em;
    margin: 0 0 10px 30px;
  }
  li:hover {
    cursor: pointer;
  }
}
.dashboard {
  margin-top: 10%;
  margin-left: calc(20% + 5vw);
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  width: calc(100% - 20% - 5vw);
}
img {
  height: 300px;
}
.forecast-text {
  width: 90%;
  font-size: 3em;
  text-align: center;
  color: white;
}
.route-forecast-grid {
  font-family: 'Noto Sans', sans-serif;
  display: flex;
  flex-direction: column;
  width: 80%;
  color: white;
  .top-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    .cell {
      width: 33%;
      border: 2px solid white;
      font-size: 2em;
      text-align: center;
      padding: 15px 0;
      h5:hover {
        cursor: pointer;
      }
    }
  }
  .bottom-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    .cell {
      text-align: center;
      width: 33%;
      font-size: 2.5em;
      border: 2px solid white;
    }
    h4 {
      padding: 15px 0;
    }
  }
}
.enter-home-popup {
  margin-left: calc(35% + 5vw);
  margin-top: 10%;
  width: calc(100% - 50% - 5vw);
  font-family: 'Noto Sans', sans-serif;
  border: 2px solid white;
  display: flex;
  flex-direction: column;
  z-index: 4;
  padding: 20px;
  font-size: 1.2em;
  line-height: 1.5em;
  form {
    width: 90%;
    display: flex;
    align-self: center;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    div {
      width: 60%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      align-content: space-between;
      input {
        margin: 10px;
        width: 55%;
      }
    }
      .submit-button {
        width: 40%;
        height: 60px;
        font-family: 'Sansita One', cursive;
        color: steelblue;
        box-shadow: 5px 5px 5px #888888;
        font-size: 1.4em;
        margin-top: 30px;
      }
      .submit-button:active {
        background-color: steelblue;
        color: white;
      }
      .submit-button:hover {
        cursor: pointer;
      }
  }
}
