.page-wrapper {
  color: white;

}

.route-container {
  font-family: 'Noto Sans', sans-serif;
  margin: 10%;
  // padding-left: 200px;
  margin-left: calc(20% + 5vw);
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  width: calc(100% - 20% - 5vw);
}
.route-title {
  font-size: 3em;
  padding-bottom: 40px;
  font-family: 'Sansita One', cursive;
}
.departure-calculator {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  padding-bottom: 10%;
}
.headers {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  align-content: center;
  width: 100%;
  height: 80px;
  font-size: 2em;
}
.times {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  align-content: center;
  width: 100%;
  height: 80px;
  font-size: 2em;
  input {
    width: 40%;
    font-size: .9em;
  }
}
.map {
  padding-bottom: 10%;
}
.delay {
  margin: 10%;
  text-align: center;
  display: flex;
  flex-direction: column;
  font-size: 2em;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.graph {
  margin: 0 auto;
  // width: 300px;
  // height: 300px;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  border: 1px solid steelblue;
  background-color: white;
}
.snow-summary {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 80%;
  padding-bottom: 40px;
  .yesterday, .tomorrow {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    h5 {
      font-size: 1.8em;
      padding-top: 20px;
    }
  }
  .bottom-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    .cell {
      text-align: center;
      width: 33%;
      font-size: 2.5em;
      border: 1px solid black;
    }
  }
}
.map-wrapper h5 {
  font-size: 2em;
  padding: 40px;
  text-align: center;
}
.map-wrapper h5:hover {
  cursor: pointer;
}
