.settings-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;;
  align-items: center;
  align-content: center;
  margin: 10% 0 0 calc(5vw + 30%);
  width: 50%;
  font-size: 3em;
}

.change-settings-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 250px;
  width: 50%;
  .alarm-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
  label {
    width: 200px;
    font-size: .5em;
    font-family: 'Noto Sans', sans-serif;
  }
  .input-row {
    height: 200px;
    width: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-items: center;
    justify-content: space-around;
    label {
      padding-left: 50px;
    }
    input {
      padding-left: 10px;
      width: 60px;
      border-radius: 5px;
      height: 30px;
      font-size: .5em;
    }
    .hidden, img {
      width: 50px;
      height: 50px;
    }
  }
  button {
    width: 50%;
    height: 80px;
    font-size: 1em;
    font-family: 'Sansita One', cursive;
    color: steelblue;
    box-shadow: 5px 5px 5px #888888;
  }
  button:hover {
    cursor: pointer;
  }
  button:active {
    background-color: steelblue;
    color: white;
  }
}
